.herobanner{
  padding: 1rem 8%;
  display: flex;
  justify-content: space-between;
  height: 40vh;
  background: var( --primary-bg-color);
}


.details div{
  font-family: "Poppins";
  font-size: large;
  display: flex;
  justify-content: flex-start;
  align-items: center ;
  gap: 20px;
  
}

.details span{
  font-family: Poppins !important;
font-weight: 500;
font-size: 55px;
line-height: 68px;
letter-spacing: 2%;

}
.medical{
  color: black;
  font-weight: 800 !important;
}
.centers{
  color: var(--secondary-bg-color);
  font-weight: 800 !important;
}
.details p{

  font-size:x-large;
  font-family: Poppins;
}

.doctorimg{
  height: 100%;
  width: 100%;
}

.doctorimg img{
  width: 100%;
  height: 100%;
  /* object-fit: cover;   */
}

h3{
  margin-bottom: 0px;
}